table#Lihtne, td{
    /*html Failis id=lihtne*/
    Width:60%;
    border: 1px solid black;
    text-align: center; /*teksti joomdamine keskele*/
    padding: 10px; /*vahe telstist äärisemi*/
    border-collapse: collapse;
}
table#keeruline1, table#keeruline1 td{
    /*html Failis id=lihtne*/
    Width:60%;
    border: 1px solid black;
    text-align: center; /*teksti joomdamine keskele*/
    padding: 5px; /*vahe telstist äärisemi*/
    border-collapse: collapse;
    background-color: yellowgreen;
}
table#keeruline2, table#keeruline2 td{
    /*html Failis id=lihtne*/
    Width:50%;
    border: 1px solid black;
    text-align: center; /*teksti joomdamine keskele*/
    padding: 5px; /*vahe telstist äärisemi*/
    border-collapse: collapse;
    background-color: yellowgreen;
}
table#haittable, table#haittable td {
    /*html Failis id=lihtne*/
    Width:40%;
    border: 1px solid black;
    text-align: center; /*teksti joomdamine keskele*/
    padding: 10px; /*vahe telstist äärisemi*/
    border-collapse: collapse;
    background-color: yellowgreen;
}